<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title>Search</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <h4 class="indigo-text center">Search word</h4>

    <!--error message if error exists in RedirectAttributes (Model) -->
    <div class="col s6 offset-s3">
        <div id="errorMessage" class="card-panel red lighten-2" th:if="${error}">
            <span class="card-title" th:text="${error}"></span>
        </div>
    </div>

    <!--search form-->
    <form action="/postSearch" method="post" class="col s12">
        <div class="row center">
            <div class="input-field col s6 offset-s3">
                <i class="mdi-action-search prefix"></i>
                <input id="search" name="search" type="text" class="validate"/>
                <label for="search">Search</label>
            </div>
        </div>
    </form>
</div>
</body>
</html>